// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$primary-pink: #CE3CBF;

// Grayscale

$neutral-900: #171717;
$neutral-800: #2D2D2D;
$neutral-700: #3F3F3F;
$neutral-600: #5C5C5C;
$neutral-500: #7B7B7B;
$neutral-400: #999999;
$neutral-300: #B3B3B3;
$neutral-200: #CCCCCC;
$neutral-100: #E6E6E6;
