// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$primary-pink: #FC467D;

//primary
$primary-900: #19070c;
$primary-800: #320e19;
$primary-700: #651c32;
$primary-600: #972a4b;
$primary-500: #ca3864; /* Base */
$primary: #FC467D; /* Base */
$primary-400: #fd6b97;
$primary-300: #fd90b1;
$primary-200: #feb5cb;
$primary-100: #eed8fb;
$primary-50: #ffedf2;



// Grayscale
$neutral-900: #171717;
$neutral-800: #2D2D2D;
$neutral-700: #3F3F3F;
$neutral-600: #5C5C5C;
$neutral-500: #7B7B7B;
$neutral-400: #999999;
$neutral-300: #B3B3B3;
$neutral-200: #CCCCCC;
$neutral-100: #E6E6E6;
$neutral-50: #F2F2F2;


// Destructive

  $danger-900: #7F1D1D;
  $danger-800: #991B1B;
  $danger-700: #B91C1C;
  $danger-600: #DC2626;
  $danger-500: #EF4444;
  $danger: #EF4444;
  $danger-400: #F87171;
  $danger-300: #FCA5A5;
  $danger-200: #FECACA;
  $danger-100: #FEE2E2;
  $danger-50: #FEF2F2;
