// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Define fonts for body and headers
$body-font: "Outfit", "sans-serif";
$headers-font: "Outfit", "sans-serif";

// Defined after template
$small-text-font-size: 0.8rem;

// Font weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;


// Button large
$font-size-button-large: 1rem;
$line-height-button-large: 1.5;
$letter-spacing-button-large: 0.5px;

// Button medium
$font-size-button-medium: 1rem;

//
// Button small
$font-size-button-small: 0.875rem;

// Button extra small
$font-size-button-xsmall: 0.75rem;

// Paragraph large
$font-size-paragraph-large: 1.125rem;
$line-height-paragraph-large: 1.75;

// Paragraph medium
$font-size-paragraph-medium: 1rem;
$line-height-paragraph-medium: 1.5;

// Paragraph small
$font-size-paragraph-small: 0.875rem;
$line-height-paragraph-small: 1.25;

// Paragraph extra small
$font-size-paragraph-xsmall: 0.75rem;
$line-height-paragraph-xsmall: 1.25;


// Heading mobile
$font-size-heading-1-mobile: 2.25rem;
$line-height-heading-1-mobile: 2.75;
$letter-spacing-heading-1-mobile: -0.02em;

$font-size-heading-2-mobile: 2rem;
$line-height-heading-2-mobile: 2.5;
$letter-spacing-heading-2-mobile: -0.02em;

$font-size-heading-3-mobile: 1.75rem;
$line-height-heading-3-mobile: 2.25;
$letter-spacing-heading-3-mobile: -0.02em;

$font-size-heading-4-mobile: 1.5rem;
$line-height-heading-4-mobile: 2;
$letter-spacing-heading-4-mobile: -0.02em;

$font-size-heading-5-mobile: 1.25rem;
$line-height-heading-5-mobile: 1.75;
$letter-spacing-heading-5-mobile: -0.02em;

$font-size-heading-6-mobile: 1.125rem;
$line-height-heading-6-mobile: 1.5;
$letter-spacing-heading-6-mobile: -0.02em;

// Heading desktop
$font-size-heading-1-desktop: 2.5rem;
$line-height-heading-1-desktop: 3;
$letter-spacing-heading-1-desktop: -0.02em;

$font-size-heading-2-desktop: 2.25rem;
$line-height-heading-2-desktop: 2.75;
$letter-spacing-heading-2-desktop: -0.02em;

$font-size-heading-3-desktop: 2rem;
$line-height-heading-3-desktop: 2.5;
$letter-spacing-heading-3-desktop: -0.02em;

$font-size-heading-4-desktop: 1.75rem;
$line-height-heading-4-desktop: 2.25;
$letter-spacing-heading-4-desktop: -0.02em;

$font-size-heading-5-desktop: 1.5rem;
$line-height-heading-5-desktop: 2;
$letter-spacing-heading-5-desktop: -0.02em;

$font-size-heading-6-desktop: 1.25rem;
$line-height-heading-6-desktop: 1.75;
$letter-spacing-heading-6-desktop: -0.02em;

