@mixin typography($font-size, $line-height, $letter-spacing) {
  @if length($font-size) < 3 {
    @warn "Font-size should be a list with at least three items. Given value: #{$font-size}.";
  }
  @if length($line-height) < 3 {
    @warn "Line-height should be a list with at least three items. Given value: #{$line-height}.";
  }
  @if length($letter-spacing) < 3 {
    @warn "Letter-spacing should be a list with at least three items. Given value: #{$letter-spacing}.";
  }

  @debug $font-size;
  @debug $line-height;
  @debug $letter-spacing;

  font-size: nth($font-size, 1);
  line-height: nth($line-height, 2);
  letter-spacing: nth($letter-spacing, 3);
}
