#fullscreen-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[data-slidingimagerows-target="row"] {
  flex: 1;
  overflow: hidden;
  position: relative;
  display: flex;
}

[data-slidingimagerows-target="row"]:nth-child(even) .sliding-row-content {
  animation-direction: reverse;
}

.sliding-row-content {
  display: flex;
  animation: slide 30s linear infinite;
  will-change: transform;
}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

img.uniform {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#centered-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
