#fullscreen-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;

}


#fullscreen-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Change the last value to adjust the darkness */
  z-index: 1;
}

[data-slidingimagerows-target="row"] {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.sliding-row-content {
  display: flex;
  will-change: transform;
  animation: slide 230s linear infinite;
  height: 100%;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


[data-slidingimagerows-target="row"]:nth-child(even) .sliding-row-content {
  animation: slide 200s linear infinite reverse;
}

[data-slidingimagerows-target="row"] {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
}


img.uniform {
  object-fit: fill;
  height: 100%;
}


#centered-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);  /* white with 90% opacity */
  padding: 1em 2em;
  width: 25%;
}


.slidingimagerows {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}


[data-slidingimagerows-target="row"], .sliding-row-content {
  min-height: 100%;
}


.row-container {
  line-height: 0;
}


.logo-and-intro {
  display: flex;
  padding: 0em 0em 2em 0em;
}


.log-in-button, .sign-up-button {
  width: 100%;
  opacity: 100% !important;
}

.log-in-button {
  margin-bottom: 1em;
  margin-top: 2em;
}
