.avatar-group {
  display: inline-flex;
  flex-direction: row-reverse;

}

.avatar-in-group {
  position: relative;
  border: 1px solid #fff;
  overflow: hidden;
}

.avatar-in-group:not(:last-child) {
  margin-left: -16px;
}

.avatar-in-group img {
  width: 100%;
  display: block;
}
