.search_upload_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  align-items: center;
  gap: 2em;
  padding: 0em 1em;

  @media(min-width: 992px) {
    width: 75%;
    margin: auto;
  }

  @media(max-width: 991px) {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    width: 100%;
  }

}


.search_upload_field {
  width: 100% ;
}

.link {
  border-color: $neutral-100;
  border-style: solid;
  border-width: 1px;  /* Adjust as needed */
  padding: 0.5em 1em;
}
