<%= simple_form_for :search, url: search_path, method: :get do |f| %>
  <div class="custom-search-form-control form-group search-form">
    <div class="custom-input-group">
      <%= f.input :query, label: false, input_html: {class: 'custom-form-control string required', id: 'search_query'} %>
      <div class="custom-input-group-append">
        <button name="button" type="submit" class="custom-btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
<% end %>
