  <h2>Settings</h2>

<div class="settings-container text-decoration-none">
  <h6><%= link_to 'Email & Password', email_password_settings_path, class: "paragraph-medium" %></h6>
  <h6><%= link_to 'Profile', profile_settings_path, class: "paragraph-medium" %></h6>
  <h6><%= link_to 'Privacy', privacy_settings_path, class: "paragraph-medium" %></h6>
</div>


<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
