<% if controller_name == "pages" && action_name == "home" || controller_name == "users" && action_name == "show" || controller_name == "lists" && action_name == "show" || controller_name == "products"  && action_name == "show"%>
  <div class="sidebar">
    <div class="suggested-for-you">
      Suggested for you
    </div>
    <% unless @suggested_users.nil?  %>
      <div class="suggested-profiles-container">
        <div class="profiles-x-follows">
          Profiles
        </div>
        <% @suggested_users.each do |user| %>
          <%= render 'users/user_card_search', user: user, iterating_for: "sidebar" %>
        <% end %>
      </div>
    <% end %>
    <% unless @suggested_lists.nil? %>
      <div class="suggested-lists-container">
        <div class="profiles-x-follows">
          Lists
        </div>
        <% @suggested_lists.each do |list| %>
          <%= render 'shared/list_card', list: list, iterating_for: "sidebar" %>
        <% end %>
      </div>
    <% end %>
    <% unless @suggested_products.nil? %>
      <div class="suggested-lists-container">
        <div class="profiles-x-follows">
          Similar listings
        </div>
        <% @suggested_products.each do |product| %>
          <%= render 'shared/product_card', product: product, iterating_for: "sidebar" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
