<% if controller_name == "pages" && action_name == "search" || controller_name == "pages" && action_name == "home" || controller_name == "users" && action_name == "show" || controller_name == "lists" && action_name == "show" || controller_name == "products"  && action_name == "show"%>
  <div class="sidebar">
    <%# <div class="paragraph-large-medium">Suggested for you</div> %>
    <h5>Suggested for you</h5>

    <% unless @suggested_users.nil?  %>
      <div class="suggested-profiles-container">
        <div class="paragraph-large-regular">
          Profiles
        </div>
        <% @suggested_users.each do |user| %>
          <%= render 'users/user_card', user: user, iterating_for: "sidebar" %>
        <% end %>
      </div>
    <% end %>
    <% unless @suggested_lists.nil? %>
      <div class="suggested-lists-container">
        <div class="paragraph-large-regular">
          Lists
        </div>
        <% @suggested_lists.each do |list| %>
          <%= render 'shared/list_card_sidebar', list: list, iterating_for: "sidebar" %>
        <% end %>
      </div>
    <% end %>
    <% unless @suggested_products.nil? %>
      <div class="suggested-lists-container">
        <div class="paragraph-large-regular">
          Similar listings
        </div>
        <% @suggested_products.each do |product| %>
          <%= render 'shared/product_card', product: product, iterating_for: "sidebar" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
