
<div class="settings-container">
  <h2>Email & Password</h2>
  <%= simple_form_for @user, url: update_privacy_settings_path, method: :patch do |f| %>
    <%= f.input :privacy, as: :radio_buttons, collection: ['public', 'followers'] %>
    <%= f.button :submit, "Update Privacy Settings" %>
  <% end %>
</div>
