<div class="nav-header-desktop nav-header-desktop-settings sticky-header text-decoration-none">


  <div>
    <h5 class="main-title">
      Settings
    </h5>
  </div>
  <div></div>
</div>

<div class="nav-header sticky-header text-decoration-none">
  <div class="back-arrow-and-element">
    <%= link_to settings_path do %>
      <i class="fa-regular fa-arrow-left"></i>
    <% end %>
  </div>
  <div>
    <h5 class="main-title">
      Privacy Policy
    </h5>
  </div>
  <div></div>
</div>


<div class="settings-desktop-grid">
  <%= render 'shared/settings_menu' %>
  <div class="settings-container subpage-settings-container">
    <h3 class="hide-on-mobile">Privacy Policy</h3>
    <div class="form-container settings-more-content-text">
      <b>Last Updated: July 15, 2023</b>

<p>This Privacy Policy describes how your personal information is collected, used, and shared when you use our website and mobile application (the "Service") operated by [Your Company Name] ("us", "we", or "our").</p>
<b>1. Information We Collect</b>

<p>When you use our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, postal address ("Personal Information").</p>
<b>2. Use of Your Personal Information</b>

<p>We use the collected information for various purposes:</p>

<ul>
  <li>To provide and maintain our Service</li>
  <li>To notify you about changes to our Service</li>
  <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
  <li>To provide customer support</li>
  <li>To gather analysis or valuable information so that we can improve our Service</li>
  <li>To monitor the usage of our Service</li>
</ul>

<b>3. Sharing Your Personal Information</b>

<p>We do not sell your personal data to third parties. We may share your Personal Information with third parties to provide and improve our Service, only in the ways that are described in this privacy policy.</p>

<b>4. Security</b>

<p>The security of your Personal Information is important to us. We use commercially acceptable means to protect your Personal Information, but remember that no method of transmission over the internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

<b>5. Changes to This Privacy Policy</b>

<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.</p>

<b>6. Your Consent</b>

<p>By using our Service, you are consenting to our processing of your information as set forth in this Privacy Policy.</p>

<b>7. Contact Us</b>

<p class="last-paragraph">If you have any questions about this Privacy Policy, please contact us at [Your Email Address].</p>
    </div>
  </div>
</div>
