<div class="nav-header-desktop nav-header-desktop-settings sticky-header text-decoration-none">


  <div>
    <h5 class="main-title">
      Settings
    </h5>
  </div>
  <div></div>
</div>

<div class="nav-header sticky-header text-decoration-none">
  <div class="back-arrow-and-element">
    <%= link_to settings_path do %>
      <i class="fa-regular fa-arrow-left"></i>
    <% end %>
  </div>
  <div>
    <h5 class="main-title">
      Terms & Conditions
    </h5>
  </div>
  <div></div>
</div>


<div class="settings-desktop-grid">
  <%= render 'shared/settings_menu' %>
  <div class="settings-container subpage-settings-container">
    <div class="form-container">
      <b>Last Updated: July 15, 2023</b>


      <p>Please read these terms and conditions ("Terms", "Terms and Conditions") carefully before using the [Your Company Name] website and our mobile application (the "Service") operated by [Your Company Name] ("us", "we", or "our").</p>

      <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who access or use the Service.</p>

      <b>1. User Content</b>

      <p>You have the ability to create lists of products, add reviews, images, logos, and share these lists with other users. You are responsible for all Content that you post on or through the Service, and any consequences thereof. You represent and warrant that you own all your Content or you have all rights that are necessary to grant us the license rights in your Content under these Terms.</p>

      <b>2. Intellectual Property Rights</b>

      <p>All logos and trademarks of third parties referenced on the website are the trademarks and logos of their respective owners. Any inclusion of such trademarks or logos does not imply or constitute any approval, endorsement, or sponsorship of [Your Company Name] by such owners.</p>

      <b>3. Copyrighted Material</b>

      <p>You should assume that everything you see or read on the Service is copyrighted unless otherwise noted and may not be used except as provided in these Terms and Conditions without the written permission of [Your Company Name]. You are responsible for ensuring that the content you post does not infringe any third-party rights.</p>

      <b>4. User Conduct</b>

      <p>You agree to not use our Services to conduct any activity that may be illegal or violates the rights of others. Any such activities, including abusive or harmful behavior, is grounds for immediate termination of your account.</p>

      <b>5. Privacy</b>

      <p>Your privacy is important to us. Our Privacy Policy, which also governs your visit to our Service, can help you understand how we collect and use the personal information that you provide to us.</p>

      <b>6. Termination</b>

      <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

      <b>7. Governing Law</b>

      <p>These Terms shall be governed by and interpreted in accordance with the laws of the Republic of Singapore.</p>

      <b>8. Changes to These Terms and Conditions</b>

      <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

      <b>9. Contact Us</b>

      <p class="last-paragraph">If you have any questions about these Terms, please contact us at [Your Email Address].</p>



    </div>
  </div>
</div>
