<div class="card-grid-home">
  <div class="settings-container subpage-settings-container">
    <div class="form-container">

      <h5>What is Favolist?</h5>
      <div class="content-text">
        <p>Favolist is a social product recommendation network developed by Singapore-based Favolist Ptd. Ltd. Our platform allows you to curate and share lists of your favorite products. You may create lists for:</p>
        <ul>

          <li>Your gaming setup</li>
          <li>Your hiking gear</li>
          <li>Your biohacking lifestyle stack</li>
          <li>Your skin-care darlings</li>
          <li>Your professional sketching and illustration equipment</li>
          <li>Your top 10 sci-fi novels</li>
          <li>Your ergonomic work accessories</li>
          <li>Your sleep enhancers</li>
          <li>Your secret life-hacking products</li>
          <li>Your travel companions</li>
          <li>Your master chef gadgets</li>
          <li>Your [fill in the blank]…</li>
        </ul>

        <p>Favolist aims to give every passion, hobby or simple life-improvement strategy a central repository of the products that enable/enhance/enchant the pursuit of these interests. And – because sharing is caring – you may share your meticulously researched, tested and reviewed lists with either:</p>
        <ol type="a">
            <li>your tightly-knit private circle of friends and fellow fanatics</li>
            <li>the world wide webs (or even the entire multiverse) to flex your vastly superior product-research skills with as many lifeforms as possible</li>
        </ol>
        <p>Sharing not only helps you climb the social ladder – it also allows you to open all those post-purchase marketing emails and actually make use of customer referral links. Place the links, or any discount code you possess secret knowledge of, in your product listings, and finally do invite them three friends so they get 50$ off your their next purchase (or whatever the referral program might be). </p>
        <p>With Favolist, turbocharge your product discovery, gain a reputation for finding the best products, and generate win-wins by referring them.</p>

        <h5>Favolist for Influencers & Brands</h5>

        <p>Favolist acts as a central repository allowing your avid fans to access all your product recommendations and referrals.</p>
        <p>As a brand, you may categorize your product lines in fun or useful ways. For example, if you’re a hiking brand, you may devise lists such as “Best Arctic Hiking Gear” or “Ultimate Weekend Camping”, and then plug your relevant products into those lists.</p>
        <p>Your loyal brand followers will be notified whenever your create new listing, list or referral, on top of appearing on their home feeds. This suits itself perfectly for events like product drops.</p>
        <p>If you’re an influencer, see your referral links shared exponentially with the listing duplication feature, allowing your fans to copy your listing (including your referral link) directly into one of their own lists.</p>
        <p>With Favolist, establish a new direct channel with your fans, engage them in novel product-centric ways, and allow the network effect to turn them into even more effective brand ambassadors.</p>
        <h5>Who Is Behind Favolist?</h5>

        <p>Favolist’s founder, Vincent Rehms, started his career in ad operations at Berlin-based media startup which went on to raise 300 million. He also gathered experience in leading the online shop divisions of various e-commerce startups. This exposure to digital marketing, online media and e-commerce had an indirect influence in the conception of Favolist.</p>
        <p>Favolist presents a novel, product-centric platform that inverses the traditional advertising dynamic. Instead of inundating users with intrusive ads as they browse the web or consume online news, it allows them to actively seek out products that match their interests, validated by sources they know and trust. This shift ushers in a more personalized and intentional product discovery process, powered by the engagement of users within the network and with each other.</p>
        <h5>More of the backstory…</h5>
        <p>Vincent Rehms had that compulsive habit of spending 3-5 hours consuming blog-posts and reading online product reviews (from strangers hint hint), drafting a complex metrics-based analysis on excel, spamming WhatsApp groups for advice and pestering as many friends as possible for their opinion before deciding to buy something like a backpack.</p>
        <p>Another happenstance which caused Vincent to found Favolist and thereby scratch his own itch, was that whilst doing chores and listening to the Tim Ferriss Show podcast, he’d make a mental note to later look up all those products mentioned in the “today’s show is sponsored by—” segments or the ones discussed with his savvy guests, since they actually seemed to be relevant for him, like Athletic Greens or a portable slackline or the best-ever mattress, and he trusts Tim Ferriss’ judgement.</p>
        <p>However, proceeding to then actually look them always seemed to elude him, either by simply forgetting to do it, or because the act of finding and then scanning through the show notes of that one particular episode (which episode was it again?) seemed too burdensome.</p>
        <p>Thirdly, Vincent simply loved to recommend things. He extracted great joy from myriads of instances like when his brother would comment how excellent the book Man’s Search for Meaning was, or when a friend mentioned how productive she is with that new Logitech keyboard.</p>
        <p>Hence, it was his obsessive product research process, his desire to easily access reviews of people he trusts (public people or private), and the little slices of joy he’d receive when his recommendations had an impact on people, that combined with his experience e-commerce and digital marketing to realize that a platform like Favolist had great potential.</p>
        <p class="last-paragraph">We hope that like-minded people – quality-oriented and conscious about the products they buy for their passions, their well-being or for every day life – will enjoy using with Favolist, and that they extract value from using it.</p>
      </div>
    </div>
  </div>
</div>
