<div class="card-grid-home">
  <div class="settings-container subpage-settings-container">
    <div class="form-container">
      <div class="settings-more-content-text">
        <h5>Welcome, guinea pigs 🐹 !</h5>
        <p>You are most cordially invited to the Favolist Beta!</p>
        <p>You’ll already various public profiles such as Tim Ferriss, Andrew Huberman, The Broke Backpacker and many more. These are currently demo profiles, compiled from polling many of you pre-launch as to which podcasters/influencers/bloggers you usually obtain product recommendations from.</p>
        <p>In this beta version, you’ll be in the company of many like-minded individuals from Bali, Berlin and the US but also from people around the world.</p>
        <p>Since this is a beta, you might encounter a bug here or there. Feel free to report those directly to me on WhatsApp +49 178 684 7717, or email me at vincent@favolist.xyz. There’s also this beta WhatsApp group you can write on. Feedback or feature requests are also welcome. Check out the features pipeline below.</p>
        <p style="color: #ce3cbf">Now go ahead and sign up, create lists and engage with each other 🙏</p>
        <br>
        <h5>Features pipeline</h5>
        <ul>
          <li>Support for digital products and services on top of physical products (perhaps also business partners)</li>
          <li>Videos in product listing gallery</li>
          <li>Rich media (videos, images, audio) support for product reviews and descriptions as well as list and profile about texts to enable a more blog-like experience</li>
          <li>YouTube video embeds for product reviews and descriptions as well as list and profile about texts</li>
          <li>Ranked lists to enable blog-like “Top 10 XX Products” lists</li>
          <li>“Best for XX” subtitles in listings to allow for categorization such as “Best for small budget” or “Best overall”</li>
          <li>Referral icons to immediately see if a listing includes a referral</li>
          <li>Enhanced algorithmic search with Elastic Search for more accurate and contextual search performance and search speed</li>
          <li>Automatic listing creating with url when creating product listing (currently only possible with Amazon and Shopify urls) with products links from:
            <ul>
              <li>Tokopedia</li>
              <li>Shopee</li>
              <li>Lazada</li>
              <li>Woocommerce</li>
              <li>Rakuten</li>
              <li>Etsy</li>
            </ul>

          </li>
          <li>Automatic listing creation through product search requiring users to only type the product/brand name and selecting the product from a dynamic dropdown list</li>
          <li>Socials verification to badge official accounts and display engagement counts on external platforms</li>
          <li>YouTube channel imports for YouTubers (possible UI layouts TBD)</li>
          <li>Homefeed updates of follower/following activity such as when they comment or bookmark a listing on or new list update</li>
          <li>Videos and articles segment in profile for creators</li>
          <li>Homefeed updates of videos and articles</li>

        </ul>
      </div>
    </div>
  </div>
</div>
