<div class="nav-header sticky-nav">
  <%= image_tag "https://res.cloudinary.com/dncij7vr6/image/upload/v1686124155/Favolist%204.0/app%20assets/favolist_logo_dftbgl.svg", alt: "Favolist Logo", class: "favolist-logo" %>
  <i class="fa-sharp fa-regular fa-bell"></i>
</div>
<div class="card-grid-search">
  <% @products.each do |product| %>
    <%= render 'shared/product_card', product: product, suggested_users: @suggested_users, iterating_for: "home_feed" %>
  <% end %>
</div>
