<div class="container mt-10 d-flex">
  <div class="rounded p-6 mt-6">
      <h3 class="mt-3">Message Sent!</h3>
      <p class="mt-10">Thank you - You successfully sent us a message. If needed, I will get back to you as soon as possible.</p>
      <%= link_to 'Go to home', root_path %>
  </div>
</div>
