<div class="nav-header-desktop nav-header-desktop-settings sticky-header text-decoration-none">
  <div>
    <h5 class="main-title">
      Settings
    </h5>
  </div>
  <div></div>
</div>

<div class="nav-header sticky-header text-decoration-none">
  <div class="back-arrow-and-element">
    <%= link_to settings_path do %>
      <i class="fa-regular fa-arrow-left"></i>
    <% end %>
  </div>
  <div>
    <h5 class="main-title">
      Message Sent!
    </h5>
  </div>
  <div></div>
</div>


<div class="settings-desktop-grid">
  <%= render 'shared/settings_menu' %>
  <div class="settings-container subpage-settings-container">
    <h3 class="hide-on-mobile">Message Sent!</h3>
    <div class="form-container">
      <p class="mt-10">Thank you - You successfully sent us a message. If needed, I will get back to you as soon as possible.</p>
      <%= link_to 'Go to home', root_path %>
    </div>
  </div>
</div>
