.small-follow-button {
  font-size: 0.75rem;
  color: purple;
  background-color: transparent;
  padding: 0.25em 0.5em;
  border: none;
}


.comment-date-and-reply-button {
  color: gray;
  border: none;
  font-size: 0.75em;
  border-radius: none;
  cursor: pointer;
}
