.cardbar-wrapper {
  padding: 1em 0em;
}
.cardbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0em;

  .cardbar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 0.5em;
  }


  .username {
    font-weight: $semi-bold;
  }




  .cardbar-logo {
    object-fit: contain;
    max-width: 5em;
    max-height: 2em;
  }


  .cardbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .cardbar-iconbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5em;
    height: 2em;
  }


  .iconbox-text {
    // display: block;
    line-height: 1;
  }

}

.cardbar-logo-link {
  display: flex;  /* This makes the a tag behave more like an img tag */
  align-items: center;
  padding: 0;  /* Remove padding */
  margin: 0;
  border: none;  /* Remove border */
  background: none;  /* Remove background */
  text-decoration: none;  /* Remove underline */
  justify-content: center;
}
