
.card-grid-search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;

  // @media(max-width: 1600px) {
  //   grid-template-columns: repeat(2, 1fr);
  // }

  .product-card-image {
    width: 100%;
    background-color: grey; /* set the color of the borders here */

    img {
      width: 100%;
      object-fit: scale-down;
      height: 100%;
      object-fit: contain; /* ensure the image scales while preserving its aspect ratio */
    }
  }

}
