.cardbar-wrapper {
  padding: 1em 0em;
}

.cardbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 1em 0em;

  .list-name-and-product-title-and-price {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-right: 0.5em;
  }

  .cardbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .cardbar-iconbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5em;
    height: 2em;
  }

  .iconbox-text {
    // display: block;
    line-height: 1;
  }
}
