
.card-grid-search {

  @media(min-width: 500px) {
    gap: 0em 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;

    .product-card {
      padding: 2em 0em;
    }

    .user-card {
      padding: 2em 0em;
    }

    .referral-card {
      padding: 2em 0em;
    }

    .list-grid-container {
      margin: 2em 0em;
    }

  }


  .product-card-image {
    width: 100%;

    img {
      width: 100%;
      object-fit: scale-down;
      height: 100%;
      object-fit: contain; /* ensure the image scales while preserving its aspect ratio */
    }
  }
}




.card-grid-home {
  overflow: scroll;

  @media(min-width: 500px) {
    width: 75%;
    margin: auto;

    .product-card {
      padding: 2em 0em;
    }

    .user-card {
      padding: 2em 0em;
    }

    .referral-card {
      padding: 2em 0em;
    }

    .list-grid-container {
      margin: 2em 0em;
    }
  }

}
