.cardbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  width: 100%;
  position: relative;
  gap: 1em;

  .cardbar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.5em;
    height: 100%;


  }
  .avatar-small {
    margin-right: 0.5em;
  }

  .username {
    font-weight: $semi-bold;
  }

  .cardbar-logo {
    object-fit: contain;
    max-width: 5em;
    max-height: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }


  .cardbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .cardbar-iconbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 0.5em;
  }


  .iconbox-text {
    display: block;
  }

}
