@media(min-width: 1600px) {
  .card-grid-search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width: 1600px) {
  .card-grid-search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}
