.comments {
  margin-bottom: 4em;
}


.comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0em 1em 1em 1em;
  gap: 1em;
  width: 100%;

  .comment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .comment-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: $neutral-50;
    padding: 0.5em;
  }


  .comment-author {
    font-size: $font-size-paragraph-small;
    font-weight: $semi-bold;
  }

  .comment-body {
    line-height: 1.5;
  }

  .comment-date-and-reply {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
  }

  .replies {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

// div containing a reply is the same as a comment, but with the reply class added
// on top to change small parts
.reply {
  padding: 0.5em 0em;
}

.comment-replies-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.see-all-replies {
  font-size: $font-size-paragraph-small;
  font-weight: $medium;
  color: $neutral-200;
  margin-bottom: 0.5em;
}
