.comments {
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  height: 100%;
  margin-top: 1em;
}



.comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0em 1em 1em 1em;
  gap: 1em;
  width: 100%;

  .comment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .comment-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: $neutral-50;
    padding: 0.5em;
  }


  .comment-author {
    font-size: $font-size-paragraph-small;
    font-weight: $semi-bold;
  }

  .comment-body {
    line-height: 1.5;
  }

  .comment-date-and-reply {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
  }

  .replies {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

// div containing a reply is the same as a comment, but with the reply class added
// on top to change small parts
.reply {
  padding: 0.5em 0em;
}

.comment-replies-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.see-all-replies {
  font-size: $font-size-paragraph-small;
  font-weight: $medium;
  color: $neutral-200;
  margin-bottom: 0.5em;
}





.comment-form {
  width: 75%; // Set this according to your requirements
  /* Other styles... */
}


.comment-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em;
  position: sticky;
  bottom: 3.5em;
  background-color: white;
}

@media(max-width: 991px) {
  .comment-form {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 3.5em;
  }
}

.reply-form {
  display: flex;
  width: 100%;
  justify-content: space-between;


  // only necessary here. Otherwise the avatar distors in height for some fucked up reason
  .avatar-small {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}


.comment-input {
  flex-grow: 1;
  margin-left: 1em;
  textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
  }

}


.comments-container {
  height: 100%;
}
