
.comment {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1em;
  gap: 1em;
  width: 100%;

  .comment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }
  .comment-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: lightgrey;
    padding: 0.5em;


  }
  .comment-author {
    font-size: 0.875em;
    font-weight: bolder;
  }

  .comment-body {
    line-height: 1.5;
  }

  .comment-date-and-reply {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .replies {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

// div containing a reply is the same as a comment, but with the reply class added
// on top to change small parts
.reply {
  padding: 0%;
  }
