.comment-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  bottom: 3.5em;
  background-color: white;
}

.reply-form {
  display: flex;
  width: 100%;
  justify-content: space-between;


  // only necessary here. Otherwise the avatar distors in height for some fucked up reason
  .avatar-small {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}


.comment-input {
  flex-grow: 1;
  margin-left: 1em;
  textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
  }

}

// Overkill required otherwise simple-form overides
#long-text-area.long-text-area {
  min-height: 180px;
}


.title-and-price-input {
  display: flex;
  flex-direction: column;
}

.title-and-price-input {
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}




.new-product-container {
  width: 75%;
  padding-top: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  margin: auto;
}



#dropzone {
  border: 1px solid #ced4da;
  color: $neutral-300;
}
