.input-button-wrapper {
  position: relative;
  padding: 1em;
}

.input-with-button {
  padding-right: 5em; /* Adjust this based on the size of your button */
}

.inside-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
