

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.copied-product-thumbnail .dz-image {
  background-size: 100% 100%; /* Adjust according to your needs */
  background-position: center;
  background-repeat: no-repeat;
}


.text-decoration-none a {
  text-decoration: none;
  color: inherit;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.content-text {
  line-height: 1.75em;
  color: $neutral-700;
  justify-content: start;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 300;
}

.about-text {
  line-height: 1.75em;
  color: $neutral-700;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  font-weight: 300;
}


// for the truncated description of cards
.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.75em;
  height: 100%;
  @media(min-width: 768px) {
    height: 5.25em; /* This is equivalent to three lines of text */
  }

}
