.list-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  position: relative; /* To position children and pseudo-elements relative to this */
}

/* The dark overlay */
.list-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* Content positioning and styles */
.list-card-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* So that the content appears on top of the overlay */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;
  text-align: start;
  padding: 1em;
}

.list-card-content .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.list-card-content .product-count-and-list-name {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
}

.list-card-content hr {
  width: 6em;
  margin: 1em 0;
  color: white;
  border: none;
  height: 2px;
  background: white;
  opacity: 1;
}

.list-card-content .line-height-1-25 {
  line-height: 1.25;
}

.list-card-content-sidebar {
  /* Uncomment if you need these styles */
  /* .product-count-and-list-name {
      margin-top: 2em;
    } */

  hr {
    width: 4.5em;
    height: 1px;
    margin: 0.5em 0;
  }
}

@media(max-width: 992px) {
  .list-card {
    display: none;
  }
}
