.list-card-container {
  .list-card {
      position: relative;
      width: 100%;
      aspect-ratio: 1 / 1;
      background-size: cover;
      background-position: center;

      &::after {
          content: "";
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          background: rgba(0, 0, 0, 0.45);
          z-index: 1;  // This ensures the overlay is below the text content.
      }

      .content {
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: 2;  // Ensures the content is above the overlay.
      }

      .user-info, .product-count-and-list-name, .user-text, .list-name, .product-count {
          color: #fff !important;  // Sets the color of the text to white, using !important for demonstration.
      }

      .user-info {
          position: absolute;
          top: 1em;
          left: 1em;
          gap: 0.5em;
          display: flex;
          align-items: center;
          z-index: 2;  // Ensures the user info is above the overlay.

          .user-text {
              .username {
                font-size: $font-size-paragraph-small;
                font-weight: $semi-bold;
                line-height: $line-height-paragraph-small;
              }

              .followers {
                font-size: $font-size-paragraph-small;
                font-weight: $regular;
                line-height: $line-height-paragraph-small;
              }
          }
      }

      .product-count-and-list-name {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);  // Centering vertically.
        padding: 0em 1em;  // This gives it some space from the left edge.
        z-index: 2;  // Ensures it's above the overlay.

        .list-name {
            font-size: 1.5em; // For desktop
            font-weight: $bold;
            line-height: 1.25;

        }

        .product-count {

        }
      }
  }

  @media(max-width: 992px) {
    .list-card {
      .user-info {
        top: 0.5em;
        left: 0.5em;
        gap: 0.25em;

        .user-text {
          .username {
              font-size: 0.8em; // Adjust for mobile
          }

          .followers {
              font-size: 0.7em; // Adjust for mobile
          }
        }
      }

      .product-count-and-list-name {
        top: auto; // Override the desktop positioning
        bottom: 10px; // Position it at the bottom
        transform: translateY(0); // Reset the vertical translation

        .list-name {
            font-size: 1em; // Adjust for mobile
        }

        .product-count {
            font-size: 0.8em; // Adjust for mobile
        }
    }

    }
  }
}


.fa-grip-lines-list {
  color: white;
  opacity: 1;

}
