@media(max-width: 991px) {
  .navbar-desktop, .sidebar {
    display: none;
  }

  .nav-header-desktop {
    display: none;
  }

  .product-card-show {
    width: 100%;
  }
}



@media(min-width: 992px) {
  .navbar {
    display: none;
  }

  .nav-header {
    display: none;
  }

  .product-card {
    padding: 1em 0em;
  }

  .product-card-show {
    width: 75%;
  }

  .suggested-lists-container {
    .list-grid-container {
      padding: 0%;
    }
  }
}
