@media(max-width: 991px) {
  .navbar-desktop, .sidebar {
    display: none;
  }

  .nav-header-desktop {
    display: none;
  }
}



@media(min-width: 992px) {
  .navbar {
    display: none;
  }

  .nav-header {
    display: none;
  }

  // .product-card {

  //   .product-card-image {
  //     img {
  //       height: auto;
  //       width: 100%;
  //       object-fit: fill;
  //       max-height: 60vh;
  //     }
  //   }
  // }

  .suggested-lists-container {
    .list-grid-container {
      padding: 0%;
    }
  }
}
