.custom-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;

  .custom-modal-close-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }

  .custom-modal-icon {
    margin-top: 2em;
  }
}


// to achieve a gap between the buttons on the modal
