.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: white;
  color: $gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px; /* Set the height of your navbar */
  padding: 0px 16px;

  a {
    color: $gray;
    text-decoration: none;

    &:hover {
      color: darken($gray, 10%);
    }
  }

}
