.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2em;
  padding: 1em;
  background-color: white;
  text-decoration: none;
  color: $neutral-700;
  border-bottom: 1px solid $neutral-100;
}

.nav-header-mobile-and-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2em;
  padding: 1em;
  background-color: white;
  text-decoration: none;
  color: $neutral-700;
  border-bottom: 1px solid $neutral-100;
}

.avatar-and-username-{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-weight: $regular;
  font-size: $font-size-paragraph-small;
  align-items: center;
  display: flex;
  gap: 0.5em;
}

.main-title {
  font-size: $font-size-heading-6-mobile;
  font-weight: $medium;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.sticky-header {
  position: sticky;
  top: 0; /* Adjust this value based on where you want your sticky element to stick */
  z-index: 1000; /* You might need to adjust this depending on your layout */
}


.favolist-logo {
  height: 1.5em;
}


// optional, like in the settings nav-header

.back-arrow-and-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
