.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: white;
  color: $neutral-700;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5em; /* Set the height of your navbar */
  padding: 0px 1em;
  border-top: 1px solid $neutral-100;


  a {
    text-decoration: none;

    &:hover {
      color: darken($gray, 10%);
    }
  }

}
