.notifications-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
}

.notification {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1em 1em;
  gap: 1em;

  a {
    text-decoration: none;
  }
}

.notification-text {
  flex-grow: 1;
}


.notification-unread {
  background-color: $neutral-50;
}


.notification-image {
  width: 40px;
  height: 40px;
}

.notification-icon {
  width: 40px;
  height: 40px;
}

.notification-date {
  color: $neutral-400;
}
