.product-header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 0px;
width: 100%;
}

.product-header-list-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 0px;
  width: 100%;
  text-align: left;
  }
