product-card-feed {

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;

  position: relative;
  width: 100%;


  border-bottom: 1px solid $light-gray;

  product-card-header {

    /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  gap: 77px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  }



}
