.product-card {

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;

  a {
    color: $body-color;
    text-decoration: none;
  }

  .product-card-image {
    img {
      width: 100vw;
      object-fit: scale-down;
    }
  }

  .product-card-review {

  }


  .truncate-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* For the product show page, which has an additional back button and the tabs
  and respective contents (review, description, referrals). The product show doesn't
  render the product_card partial. It just copies the code.
*/

}
