.custom-input-group-append .custom-btn {
  background-color: transparent;
  border: none;
}

.custom-input-group {
  position: relative;
}

.custom-input-group-append {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}


.custom-search-form-control {
  padding: 1em;
}
