.avatar-settings {
  margin: 1em 0em;
}

.settings-container {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
}

.subpage-settings-container {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
  padding-top: 2em;

}


.settings-menu {
  text-decoration: none;
  height: 100%;
  border-right: 1px solid $neutral-50;
  padding: 1em 1em 2em 1em;
  width: 100%;
  display: flex;
  flex-direction: column;

  hr {
    border-color: $neutral-300;
    margin: 0em;
  }
}


.settings-form {
  width: 100%;
}


// for the settings forms
.form-group-container {
  margin-bottom: 1em;

  .bio {
    min-height: calc(1.5em*4 + 0.75rem + 2px);
  }

}


// for the privacy form
input[type='radio']:checked {
  background-color: $primary !important;
  border-color: $primary !important;
  box-shadow: $primary-100 !important;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: $neutral-900 !important;
}

.was-validated .form-check-input:valid, .form-check-input.is-valid {
  border-color: $primary !important;
}

.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
  box-shadow: none !important;
}


.subtext {
  display: block;
  font-size: smaller;
  color: #6c757d;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.settings-nav-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.last-paragraph {
  margin-bottom: 3.5em;
}

@media(min-width: 992px) {

  .hide-on-desktop {
    display: none;
  }
}

@media(max-width: 991px) {

  .hide-on-mobile {
    display: none;
  }
}


.nav-header-desktop-settings {
  padding-left: 0em;
  justify-content: start;
  font-weight: 500;
  color: $neutral-500;

}



// This will set the border to $neutral-900, the background to white, and the dot (created by ::after pseudo-element)
// to $primary. Adjust the width, height, top, and left properties as needed to position the dot correctly within your radio buttons.
