.avatar-settings {
  margin: 1em 0em;
}

.settings-container {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.settings-menu {
  text-decoration: none;
  height: 100%;
  border-right: 1px solid $neutral-50;
  padding: 1em 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.settings-form {
  width: 100%;
}


// for the settings forms
.form-group-container {
  padding-bottom: 1em;
}


// for the privacy form
input[type='radio']:checked {
  background-color: $primary !important;
  border-color: $primary !important;
  box-shadow: $primary-100 !important;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: $neutral-900 !important;
}

.was-validated .form-check-input:valid, .form-check-input.is-valid {
  border-color: $primary !important;
}

.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
  box-shadow: none !important;
}


.subtext {
  display: block;
  font-size: smaller;
  color: #6c757d;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.settings-nav-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


// This will set the border to $neutral-900, the background to white, and the dot (created by ::after pseudo-element)
// to $primary. Adjust the width, height, top, and left properties as needed to position the dot correctly within your radio buttons.
