.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  gap: 1em;
  border-left: 1px solid $neutral-100;

}

.suggested-for-you {
  font-size: $font-size-paragraph-large;
  font-weight: $medium;
  line-height: $line-height-paragraph-large;
}



.suggested-lists-container, .suggested-profiles-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
