.custom-nav {
  background: white;
  padding: 0.5em 1em 0em 1em;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $neutral-100;

}

.custom-nav-link.active {
  background-color: transparent!important;
  border-bottom: 2px solid $primary!important;
}

.custom-nav-link {
  color: $neutral-700!important;
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-direction: column;
  text-decoration: none!important;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 1em;
}


.sticky-nav {
  position: sticky;
  top: -2px; /* To eliminate the tiny gap between the top and the navs when scrolling down */
  z-index: 1000;
  border-top: 1px solid transparent;

}


.custom-nav-link-count {
  font-size: $font-size-paragraph-small;
  color: darken($primary, 20%);
  font-weight: $semi-bold;
}
