<%# so referral local doesn't need to manually be set to false when not rendered for referral card  %>
<% referral = defined?(referral) ? referral : 'false' %>


<div class="<%= referral == true ? 'product-header-referral-card' : 'product-header-search' %>">
  <div class="list-and-title-and-price text-decoration-none">
    <div class="paragraph-small-regular"><%= product.list.name %></div>
    <div class="paragraph-small-bold"><%= product.title  %></div>
    <div class="price paragraph-small">$<%= product.price.to_i %></div>
  </div>
</div>
