
<div class="comments-container">

  <div class="d-flex justify-content-start align-items-center flex-row px-3 py-1 bg-white w-100">
    <%= link_to product_path(@product) do %>
      <i class="fas fa-arrow-left fa-light text-decoration-none" style="color: #444444;"></i>
    <% end %>
    <div class="mx-auto text-center">
      <div class="profile-box d-flex align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-start">
          <h3 class="m-0 p-0">Comments</h3>
        </div>
      </div>
    </div>
  </div>

  <div data-controller="comments">
    <div class="container navbar-comments d-flex justify-content-between align-items-center py-2 border-bottom ">
      <%= render 'comments/comment_form', product: @product, comment: Comment.new, parent_comment_id: nil, remote: true %>
    </div>
    <div class="comments container bg-white my-0 py-2" data-comments-target="comments">
      <%= render @product.comments.where(parent_comment_id: nil) %>
    </div>
  </div>
</div>
