<div class="nav-header sticky-header">
  <%= link_to :back do %>
    <i class="fa-regular fa-arrow-left"></i>
  <% end %>

  <div class="product-title-and-list-name">
    <h6><%= @product.title %></h6>
    <h5>Comments</h5>
  </div>
  <div></div>
</div>

<div data-controller="comments">
  <%= render 'comments/commentform', product: @product, comment: Comment.new, parent_comment_id: nil, remote: true %>
  <% @product.comments.where(parent_comment_id: nil).each do |comment| %>
    <%= render "comments/comment", comment: comment, product: @product %>
  <% end %>
</div>
