
<div id="products" class="card-grid"
  data-controller="pagination"
  data-pagination-target="products"
  data-pagination-url-value="<%= products_url %> "
  data-pagination-page-value="<%= 2 %>">
    <%= render @products%>
</div>
